body{
  color: white;
  background-color: #252525 !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: white;
}

#tabs{
  padding-top: 5%;
}

.nav-item{
  color:white;
}

.nav-item:hover{
  color:white;
}

.form-group{
  color:white;
}

#tabla{
  color:white;
}


.custom-control-label {
  color: green !important;
  cursor: default;
}